.navitems{
   text-decoration: none;
   padding-bottom: 0;
   color: black;
   margin-right: 2rem;
   width: max-content;
}
.active{
    
    border-bottom: 5px solid rgb(221, 117, 117);
    
}
.btn1{
    
}
body{
    overflow-x: hidden;
}
